/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 oct. 2016, 12:25:45
    Author     : admin
*/
@font-face {
    font-family: 'harry';  src:url('http://localhost:8084/font/harry/harry.ttf')  format('truetype');
    font-family: 'PokemonSolid';     src:url('http://localhost:8084/font/PokemonSolid.ttf')  format('truetype');
    font-family: 'yerbaluisa';     src:url('http://localhost:8084/yerbaluisa.ttf')  format('truetype');
    font-family: 'Sofia-Regular';     src:url('http://localhost:8084/sofia/Sofia-Regular.otf');
    font-family: 'funsized';  src:url('font/funsized.ttf')  format('truetype');
}

h1{color: gold;
   text-align: center;
   background-color:transparent;  
   font-family: 'harry';
   font-size: 80px;

}

body{

    background-image: url('http://localhost:8084/magiemagie/Images/fondhome.jpg');
    background-size: cover;
    background-repeat:  no-repeat;
    background-position:top;
    background-attachment: scroll;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    background-size: 1500px  938px ;  
    background-attachment: scroll;
    font-family: fantasy;
    font-size: 1em;
    color: burlywood;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    background-color: #330033;
    background-attachment: scroll;
    background-repeat: no-repeat ; 
}

button{

    text-align: center;   
}
form{
    text-align: center;
    color: blueviolet;

}
.button {
    color: green;
}

